<div class="container mgt_20" >
  <div class="headerDiv"></div>

    <div id="content" class="row-fluid">
      <div class="row" infinite-scroll='loadMore()' infinite-scroll-distance='0' infinite-scroll-disabled='loading'>
              <div class="col-md-8 padding_right_15">
                  <div class="list2 padding_right_15  mgb_20"  >
                      <div class="row" >
                             <div class="col-md-4">
                               <div>
                                  <a ng-if="$index%3==0" href="articleDetail?name={{name}}&id={{item.id}}"  class="listContent whitebg paddding_20 borderLine listAnimation1" ng-repeat="item in newsList" >
                                    <div class="titleImg">
                                      <img ng-src="{{item.content.titleImg}}" >
                                    </div>
                                    <div class="myTitle">{{item.content.title}}</div>
                                    <div class="breif">{{item.content.breif}}</div>
                                    <div class="bottom">
                                       <b>阅读量:{{item.readyNum}}</b>
                                      <date value="{{item.createTime}}"></date>
                                    </div>
                                  </a>
                               </div>

                             </div>
                            <div class="col-md-4 ">
                                <a ng-if="$index%3==1" href="articleDetail?name={{name}}&id={{item.id}}" class="listContent whitebg paddding_20 borderLine listAnimation1" ng-repeat="item in newsList">
                                  <div class="titleImg">
                                    <img ng-src="{{item.content.titleImg}}" >
                                  </div>
                                  <div class="myTitle">{{item.content.title}}</div>
                                  <div class="breif">{{item.content.breif}}</div>
                                  <div class="bottom">
                                    <b>阅读量:{{item.readyNum}}</b>
                                    <date value="{{item.createTime}}"></date>
                                  </div>
                                </a>
                            </div>
                            <div class="col-md-4" >
                                <a ng-if="$index%3==2" href="articleDetail?name={{name}}&id={{item.id}}"  class="listContent whitebg paddding_20 borderLine listAnimation1" ng-repeat="item in newsList">
                                  <div class="titleImg">
                                    <img ng-src="{{item.content.titleImg}}" >
                                  </div>
                                  <div class="myTitle">{{item.content.title}}</div>
                                  <div class="breif">{{item.content.breif}}</div>
                                  <div class="bottom">
                                    <b>阅读量:{{item.readyNum}}</b>
                                    <date value="{{item.createTime}}"></date>
                                  </div>
                                </a>
                            </div>
                       </div>
                  </div>


              </div>

          <div  class="col-md-4">

            <div class="whitebg paddding_20 boxShow mgb_20">
                 <div class="advertiseImg">
                   <img src="../images/5e6bbd56a6fa31dbcbb9ea2c3f4bd3fc.jpg">
                 </div>
            </div>

            <div class="whitebg paddding_20 boxShow mgb_20">
                  <div class="widget widget-info whitebg rightMargin titleLineColor">
                    <div class="widget-header tColor">
                      <h4><i class="fa fa-globe"></i>前端技术</h4>
                    </div>
                    <div class="widget-body">
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                    </div>
                  </div>
            </div>

            <div class="whitebg paddding_20 boxShow mgb_20">

                  <div class="advertiseImg">
                      <img src="../images/74d126ea14f964e13bb07d24843bdab4.jpg">
                    </div>

            </div>

            <div class="whitebg paddding_20 boxShow mgb_20">
                  <div class="widget widget-info whitebg rightMargin titleLineColor">
                      <div class="widget-header tColor">
                        <h4><i class="fa fa-globe"></i>前端技术</h4>
                      </div>
                      <div class="widget-body">
                        <a class="alink" >aaaaaa</a>
                        <a class="alink" >aaaaaa</a>
                        <a class="alink" >aaaaaa</a>
                        <a class="alink" >aaaaaa</a>
                        <a class="alink" >aaaaaa</a>
                        <a class="alink" >aaaaaa</a>
                      </div>
                   </div>

            </div>


            <div class="whitebg paddding_20 boxShow mgb_20">

                  <div class="advertiseImg">
                    <img src="../images/bfdcef89gw1f9f9prey40j208c03c0t2.jpg">
                  </div>


            </div>

            <div class="whitebg paddding_20 boxShow mgb_20">
                  <div class="widget widget-info whitebg rightMargin titleLineColor ">
                    <div class="widget-header tColor">
                      <h4><i class="fa fa-globe"></i>前端技术</h4>
                    </div>
                    <div class="widget-body">
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                    </div>
                  </div>

            </div>



         </div>
      </div>
    </div>
</div>
