<div class="container mgt_20"  >
  <div class="headerDiv"></div>

    <div id="content" class="row-fluid">
      <div class="row" infinite-scroll='loadMore()'>
              <div class="col-md-8">
                  <div class="list1 listAnimate1Class  padding_10_20 boxShow mgb_20 whitebg" ng-repeat="item in newsList" ng-click="toDetail()">
                      <div class="listAnimate1" size="{{size}}" index="{{$index}}"></div>
                      <div class="row">
                              <div class="col-md-5 list1_left">
                                    <img  src ="{{item.content.titleImg}}">
                               </div>
                               <div class="col-md-7 list1_right">
                                   <p class="title">{{item.content.title}}</p>
                                   <p class="content">{{item.content.breif}}</p>
                                   <div class="bottom_left">
                                     阅读量:{{item.readyNum}}
                                   </div>
                                    <div class="bottom_right">
                                         <date value="{{item.createTime}}"></date>
                                    </div>
                               </div>
                       </div>
                  </div>


              </div>

          <div  class="col-md-4">

            <div class="listAnimate1Class whitebg paddding_20 boxShow mgb_20">
              <div class="listAnimate1" size="10" index="1"></div>

              <div class="advertiseImg">
                   <img src="../images/1.jpg">
                 </div>
            </div>

            <div class="listAnimate1Class whitebg paddding_20 boxShow mgb_20">
              <div class="listAnimate1" size="10" index="2"></div>
                  <div class="widget widget-info whitebg rightMargin titleLineColor">
                    <div class="widget-header tColor">
                      <h4><i class="fa fa-globe"></i>前端技术</h4>
                    </div>
                    <div class="widget-body">
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                    </div>
                  </div>
            </div>

            <div class="listAnimate1Class whitebg paddding_20 boxShow mgb_20">
              <div class="listAnimate1" size="10" index="3"></div>
                  <div class="advertiseImg">
                      <img src="../images/2.jpg">
                    </div>

            </div>

            <div class="listAnimate1Class whitebg paddding_20 boxShow mgb_20">
              <div class="listAnimate1" size="10" index="4"></div>
                  <div class="widget widget-info whitebg rightMargin titleLineColor">
                      <div class="widget-header tColor">
                        <h4><i class="fa fa-globe"></i>前端技术</h4>
                      </div>
                      <div class="widget-body">
                        <a class="alink" >aaaaaa</a>
                        <a class="alink" >aaaaaa</a>
                        <a class="alink" >aaaaaa</a>
                        <a class="alink" >aaaaaa</a>
                        <a class="alink" >aaaaaa</a>
                        <a class="alink" >aaaaaa</a>
                      </div>
                   </div>

            </div>


            <div class="listAnimate1Class whitebg paddding_20 boxShow mgb_20">
              <div class="listAnimate1" size="10" index="5"></div>
                  <div class="advertiseImg">
                    <img src="../images/3.jpg">
                  </div>


            </div>

            <div class="listAnimate1Class whitebg paddding_20 boxShow mgb_20">
              <div class="listAnimate1" size="10" index="6"></div>
                  <div class="widget widget-info whitebg rightMargin titleLineColor ">
                    <div class="widget-header tColor">
                      <h4><i class="fa fa-globe"></i>前端技术</h4>
                    </div>
                    <div class="widget-body">
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                      <a class="alink" >aaaaaa</a>
                    </div>
                  </div>

            </div>



         </div>
      </div>
    </div>
</div>
