<!--<div id="content" class="row-fluid news">-->

  <!--<div class="container">-->
    <!--<div class="headerDiv"></div>-->
        <!--<div class="model row model1 mgt_20">-->
             <!--<div class="col-md-8 height_full ">-->

                 <!--<div class="scrollImgClass whitebg paddding_20 boxShow mgb_20" >-->
                   <!--<div >-->
                     <!--<carousel  no-wrap="noWrapSlides" >-->
                       <!--<slide  ng-repeat="item in newsList" active="slide.active">-->
                         <!--<img ng-src="{{item.content.titleImg}}" >-->
                         <!--<div class="carousel-caption" >-->
                           <!--<h4>Slide {{$index}}</h4>-->
                          <!--&lt;!&ndash; <p>{{slide.text}}</p>&ndash;&gt;-->
                         <!--</div>-->
                       <!--</slide>-->
                     <!--</carousel>-->
                   <!--</div>-->
                 <!--</div>-->


          <!--</div>-->
          <!--<div class="col-md-4 height_full">-->
               <!--<div class="whitebg paddding_20 boxShow mgb_20">-->
                 <!--<h4 class="titleDiv"><i class="fa fa-globe"></i>前端技术</h4>-->

                 <!--<div class="widget widget-info whitebg rightMargin titleLineColor">-->
                      <!--<div class="widget-body">-->
                        <!--<a class="alink" href="articleDetail?id={{item.id}}&name={{name}}" ng-repeat="item in newsList">{{item.content.title | cut:false:19:'...'}}</a>-->
                      <!--</div>-->
                    <!--</div>-->
               <!--</div>-->
          <!--</div>-->

  <!--</div>-->

   <!--<div class="row paddinglr_15">-->
       <!--<div class="model imgRow  boxShow whitebg padding_10_20 mgt_20 mgb_20">-->
                <!--<div class="tColor">-->
                  <!--<h4>娱乐图片</h4>-->
                <!--</div>-->
                <!--<hr>-->
             <!--<div class="row">-->

                   <!--<div class="col-sm-6 col-md-4"  ng-repeat="item in newsList" >-->
                     <!--<a href="articleDetail?id={{item.id}}&name={{name}}" class="thumbnail">-->
                       <!--<img ng-src="{{item.content.titleImg}}" alt="通用的占位符缩略图">-->
                     <!--</a>-->
                   <!--</div>-->

           <!--</div>-->
     <!--</div>-->
  <!--</div>-->

      <!--<div class="model row" >-->
           <!--<div class="col-md-4 pleft">-->
               <!--<div class="whitebg paddding_20 boxShow mgb_20">-->
                 <!--<h4 class="titleDiv"><i class="fa fa-globe"></i>前端技术</h4>-->

                 <!--<div class="widget widget-info whitebg rightMargin titleLineColor">-->
                   <!--<div class="widget-body">-->
                     <!--<a class="alink" href="articleDetail?id={{item.id}}&name={{name}}" ng-repeat="item in newsList">{{item.content.title | cut:false:20:'...'}}</a>-->
                   <!--</div>-->
                 <!--</div>-->
               <!--</div>-->
           <!--</div>-->
          <!--<div class="col-md-4 pleft">-->
              <!--<div class="whitebg paddding_20 boxShow mgb_20">-->
                <!--<h4 class="titleDiv"><i class="fa fa-globe"></i>前端技术</h4>-->

                <!--<div class="widget widget-info whitebg rightMargin titleLineColor">-->
                  <!--<div class="widget-body">-->
                    <!--<a class="alink" href="articleDetail?id={{item.id}}&name={{name}}" ng-repeat="item in newsList">{{item.content.title | cut:false:20:'...'}}</a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-4 pleft">-->
            <!--<div class="whitebg paddding_20 boxShow mgb_20">-->
              <!--<h4 class="titleDiv"><i class="fa fa-globe"></i>前端技术</h4>-->

              <!--<div class="widget widget-info whitebg rightMargin titleLineColor">-->
                <!--<div class="widget-body">-->
                  <!--<a class="alink" href="articleDetail?id={{item.id}}&name={{name}}" ng-repeat="item in newsList">{{item.content.title | cut:false:20:'...'}}</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

      <!--</div>-->

  <!--</div>-->


<!--</div>-->



<div class="row-fluid news">
  <div class="container">
       <div class="row">
         <div class="col-md-5" >
              <a href="jsRes" class="modelItem" delay="0" content="html 资源">  </a>
         </div>
         <div class="col-md-4" >
           <a  href="htmlRes" class="modelItem" delay="1" content="js 资源"></a>
         </div>
         <div class="col-md-2" >
           <div class="modelItem" delay="2" content="css 资源"></div>
         </div>
         <div class="col-md-2" >
           <div class="modelItem" delay="3" content="node js 资源"></div>
         </div>
         <div class="col-md-4" >
           <div class="modelItem" delay="4"></div>
         </div>



         <div class="col-md-2" >
           <div class="modelItem" delay="5"></div>
         </div>
         <div class="col-md-3" >
           <div class="modelItem" delay="6"></div>
         </div>
         <div class="col-md-4" >
           <div class="modelItem" delay="7"></div>
         </div>
         <div class="col-md-2 " >
           <div class="modelItem" delay="8"></div>
         </div>
         <div class="col-md-3" >
           <div class="modelItem" delay="9"></div>
         </div>


         <div class="col-md-2" >
           <div class="modelItem" delay="10"></div>
         </div>
         <div class="col-md-3" >
           <div class="modelItem" delay="11"></div>
         </div>
         <div class="col-md-2" >
           <div class="modelItem" delay="12"></div>
         </div>
         <div class="col-md-3" >
           <div class="modelItem" delay="13"></div>
         </div>
         <div class="col-md-3" >
           <div class="modelItem" delay="14"></div>
         </div>



         <div class="col-md-2" >
           <div class="modelItem" delay="15"></div>
         </div>
         <div class="col-md-3" >
           <div class="modelItem" delay="16"></div>
         </div>
         <div class="col-md-2" >
           <div class="modelItem" delay="17"></div>
         </div>
         <div class="col-md-4" >
           <div class="modelItem" delay="18"></div>
         </div>


       </div>

    </div>
</div>
