<div id="content" class="row-fluid news">

  <div class="container">
    <div class="headerDiv"></div>

              <div class="model row">
                  <div class="col-md-8">
                    <div id="myCarousel" class="carousel slide">
                      <!-- 轮播（Carousel）指标 -->
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                      </ol>
                      <!-- 轮播（Carousel）项目 -->
                      <div class="carousel-inner">
                        <div class="item active">
                          <img src="/images/test.jpg" alt="First slide">
                <!--
                          <div class="carousel-caption">标题 1</div>
                -->
                        </div>
                        <div class="item">
                          <img src="/images/test.jpg" alt="Second slide">
                        </div>
                        <div class="item">
                          <img src="/images/test.jpg" alt="Third slide">
                        </div>
                      </div>
                      <!-- 轮播（Carousel）导航 -->
                      <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                      <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
              </div>



          </div>
          <div class="col-md-4">

            <div class="widget widget-info whitebg rightMargin titleLineColor">
              <div class="widget-header tColor">
                <h4><i class="fa fa-globe"></i>前端技术</h4>
              </div>
              <div class="widget-body">
                <a class="alink" href="newsDetail?id={{item.id}}&name={{name}}" ng-repeat="item in newsList">{{item.content.name}}</a>
              </div>
            </div>

          </div>

  </div>


  <div class="model row imgRow">
    <div class="tColor">
      <h4>娱乐图片</h4>
    </div>
    <hr>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="/images/test.jpg"
               alt="通用的占位符缩略图">
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="/images/test.jpg"
               alt="通用的占位符缩略图">
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="/images/test.jpg"
               alt="通用的占位符缩略图">
        </a>
      </div>
      <div class="col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="/images/test.jpg"
               alt="通用的占位符缩略图">
        </a>
      </div>


    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="/images/test.jpg"
             alt="通用的占位符缩略图">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="/images/test.jpg"
             alt="通用的占位符缩略图">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="/images/test.jpg"
             alt="通用的占位符缩略图">
      </a>
    </div>
    <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="/images/test.jpg"
             alt="通用的占位符缩略图">
      </a>
    </div>


  </div>

  <div class="model row">



       <div class="col-md-6 pleft">

         <div class="widget widget-info whitebg titleLineColor">
           <div class="widget-header tColor">
             <h4><i class="fa fa-globe"></i>前端技术</h4>
           </div>
           <div class="widget-body">
             <h5>jquery响应式弹出层图片画廊插件</h5>
             <h5>jquery响应式弹出层图片画廊插件</h5>

             <h5>jquery响应式弹出层图片画廊插件</h5>

             <h5>jquery响应式弹出层图片画廊插件</h5>

             <h5>jquery响应式弹出层图片画廊插件</h5>

           </div>
         </div>

       </div>
      <div class="col-md-6 pleft">

        <div class="widget widget-info whitebg  titleLineColor">
          <div class="widget-header tColor">
            <h4><i class="fa fa-globe"></i>前端技术</h4>
          </div>
          <div class="widget-body">
            <h5>jquery响应式弹出层图片画廊插件</h5>
            <h5>jquery响应式弹出层图片画廊插件</h5>

            <h5>jquery响应式弹出层图片画廊插件</h5>

            <h5>jquery响应式弹出层图片画廊插件</h5>

            <h5>jquery响应式弹出层图片画廊插件</h5>

          </div>
        </div>

      </div>
  </div>

  </div>


</div>
