<div class="container">
  <div class="headerDiv"></div>

    <div id="content" class="row-fluid newsDetail">
      <div class="col-md-8 newsContent whitebg">
          <p class="title">{{newsDetail.name}}</p>
          <div ng-bind-html = "newsDetail.content"  >
          </div>
      </div>

      <div  class="col-md-4 whitebg">
             <div class="advertiseImg">
               <img src="../images/5e6bbd56a6fa31dbcbb9ea2c3f4bd3fc.jpg">
             </div>

          <div class="widget widget-info whitebg rightMargin titleLineColor">
            <div class="widget-header tColor">
              <h4><i class="fa fa-globe"></i>前端技术</h4>
            </div>
            <div class="widget-body">
              <a class="alink" >aaaaaa</a>
              <a class="alink" >aaaaaa</a>
              <a class="alink" >aaaaaa</a>
              <a class="alink" >aaaaaa</a>
              <a class="alink" >aaaaaa</a>
              <a class="alink" >aaaaaa</a>
            </div>
          </div>


        <div class="advertiseImg">
          <img src="../images/74d126ea14f964e13bb07d24843bdab4.jpg">
        </div>
        <div class="widget widget-info whitebg rightMargin titleLineColor">
          <div class="widget-header tColor">
            <h4><i class="fa fa-globe"></i>前端技术</h4>
          </div>
          <div class="widget-body">
            <a class="alink" >aaaaaa</a>
            <a class="alink" >aaaaaa</a>
            <a class="alink" >aaaaaa</a>
            <a class="alink" >aaaaaa</a>
            <a class="alink" >aaaaaa</a>
            <a class="alink" >aaaaaa</a>
          </div>
        </div>




        <div class="advertiseImg">
          <img src="../images/bfdcef89gw1f9f9prey40j208c03c0t2.jpg">
        </div>
        <div class="widget widget-info whitebg rightMargin titleLineColor">
          <div class="widget-header tColor">
            <h4><i class="fa fa-globe"></i>前端技术</h4>
          </div>
          <div class="widget-body">
            <a class="alink" >aaaaaa</a>
            <a class="alink" >aaaaaa</a>
            <a class="alink" >aaaaaa</a>
            <a class="alink" >aaaaaa</a>
            <a class="alink" >aaaaaa</a>
            <a class="alink" >aaaaaa</a>
          </div>
        </div>



      </div>


    </div>
</div>
