<!-- Start #sidebar -->
<aside id="sidebar">
    <!-- Start .sidebar-inner -->
    <div class="sidebar-inner">
        <!-- Start .toggle-sidebar -->
        <div class="toggle-sidebar">
            <a href="index.html#"><i class="im-arrow7"></i></a>
        </div>
        <!-- End .toggle-sidebar -->
        <!-- Start .option-buttons -->
        <div class="option-buttons">
            <div class="option-buttons-inner">
                <form id="search-nav">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Find menu item">
                        <i class="im-search3"></i>
                    </div>
                    <button type="submit" class="btn">submit</button>
                    <a id="close-search-nav" class="close" aria-hidden="true" href="index.html#">&times;</a>
                </form>
                <a href="index.html#" class="search-in-menu btn btn-default btn-sm tip" title="Search in navigation"><i class="im-search3"></i></a>
                <a href="index.html#" class="expand-subs btn btn-default btn-sm tip" title="Expand all SubMenus"><i class="im-sort2"></i></a>
                <a href="index.html#" class="mute-sounds btn btn-default btn-sm tip" title="Mute template sounds"><i class="im-volume-medium"></i></a>
                <a href="index.html#" class="reset-layout btn btn-default btn-sm tip" title="Reset panels position"><i class="im-spinner12"></i></a>
                <a href="index.html#" class="launch-fullscreen btn btn-default btn-sm tip" title="Launch full screen"><i class="im-expand"></i></a>
            </div>
        </div>
        <!-- End .option-buttons -->
        <!-- Start .sidebar-scrollarea -->
        <div class="sidebar-scrollarea">
      <h5 class="sidebar-title">Navigation</h5>
      <ul id="sideNav" class="nav nav-pills nav-stacked">
        <li><a href="about"><i class="im-screen"></i> <span class="txt">Dashboard</span></a>
        </li>
        <li><a href="charts.html"><i class="im-pie2"></i> <span class="txt">Charts</span><span class="label">10</span></a>
        </li>
        <li>
          <a href="index.html#"><i class="im-list4"></i> <span class="txt">文章管理</span></a>
          <ul class="sub">
            <li>
              <a href="form-layout.html"><i class="im-arrow-right3"></i> <span class="txt">文章列表</span></a>
            </li>
            <li><a href="addArticle"><i class="im-arrow-right3"></i> <span class="txt">添加文章</span></a>
            </li>
          </ul>
        </li>


        <li>
          <a href="index.html#"><i class="im-list4"></i> <span class="txt">资源管理</span></a>
          <ul class="sub">
            <li>
              <a href="#" ng-click="changeSub($event)"><i class="im-arrow-right3"></i> <span class="txt">资源列表</span></a>

              <ul class="hasSub">
                <li ng-repeat="res in resList">
                  <a href="resContentList?type={{res.name}}&id={{res.id}}"> <span class="txt">{{res.cname}}</span></a>
                </li>

              </ul>


            </li>
            <li><a href="resAdd"><i class="im-arrow-right3"></i> <span class="txt">添加资源</span></a>
            </li>
          </ul>
        </li>


      </ul>
      <div class="clearfix"></div>
    </div>






        <!-- End .sidebar-scrollarea -->
    </div>
    <!-- End .sidebar-inner -->
</aside>
<!-- End #sidebar -->
