<!-- Javascripts -->
<!-- Important javascript libs(put in all pages) -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    window.jQuery || document.write('<script src="assets/js/libs/jquery-2.1.1.min.js">\x3C/script>')
</script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
    window.jQuery || document.write('<script src="assets/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="assets/js/libs/excanvas.min.js"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="assets/js/libs/respond.min.js"></script>
<![endif]-->
<!-- Bootstrap plugins -->
<script src="assets/js/bootstrap/bootstrap.js"></script>
<!-- Core plugins ( not remove ) -->
<script src="assets/js/libs/modernizr.custom.js"></script>
<!-- Handle responsive view functions -->
<script src="assets/js/jRespond.min.js"></script>
<!-- Custom scroll for sidebars,tables and etc. -->
<script src="assets/plugins/core/slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js"></script>
<!-- Highlight code blocks -->
<script src="assets/plugins/misc/highlight/highlight.pack.js"></script>
<!-- Handle template sounds -->
<script src="assets/plugins/misc/ion-sound/ion.sound.js"></script>
<!-- Proivde quick search for many widgets -->
<script src="assets/plugins/core/quicksearch/jquery.quicksearch.js"></script>
<!-- Prompt modal -->
<script src="assets/plugins/ui/bootbox/bootbox.js"></script>
<!-- Other plugins ( load only nessesary plugins for every page) -->
<script src="assets/plugins/forms/icheck/jquery.icheck.js"></script>
<script src="assets/plugins/charts/flot/jquery.flot.custom.js"></script>
<script src="assets/plugins/charts/flot/jquery.flot.pie.js"></script>
<script src="assets/plugins/charts/flot/jquery.flot.resize.js"></script>
<script src="assets/plugins/charts/flot/jquery.flot.time.js"></script>
<script src="assets/plugins/charts/flot/jquery.flot.growraf.js"></script>
<script src="assets/plugins/charts/flot/jquery.flot.categories.js"></script>
<script src="assets/plugins/charts/flot/jquery.flot.stack.js"></script>
<script src="assets/plugins/charts/flot/jquery.flot.orderBars.js"></script>
<script src="assets/plugins/charts/flot/jquery.flot.tooltip.min.js"></script>
<script src="assets/plugins/charts/flot/date.js"></script>
<script src="assets/plugins/charts/sparklines/jquery.sparkline.js"></script>
<script src="assets/plugins/charts/pie-chart/jquery.easy-pie-chart.js"></script>
<script src="assets/plugins/ui/weather/skyicons.js"></script>
<script src="assets/plugins/ui/calendar/fullcalendar.js"></script>
<script src="assets/js/jquery.appStart.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/pages/dashboard.js"></script>






<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-touch/angular-touch.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>