<!-- Start #header -->
<div id="header">
    <div class="container-fluid">
        <div class="navbar">
            <div class="navbar-header">
                <!-- Show navigation toggle on phones -->
                <button id="showNav" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Show logo for large screens and laptops -->
                <a class="navbar-brand visible-lg visible-md" href="index.html">
                    <img src="assets/img/logo.png" alt="Jump start">
                </a>
                <!-- Show logo for small screens -->
                <a class="navbar-brand hidden-lg hidden-md hidden-xs" href="index.html">
                    <img src="assets/img/logo-sm.png" alt="Jump start">
                </a>
            </div>
            <nav id="top-nav" class="navbar-no-collapse" role="navigation">
                <!-- navbar search form -->

                <!-- Navbar nav -->
                <ul class="nav navbar-nav pull-right">


                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            <img class="avatar" src="assets/img/avatars/1.jpg" width="36" height="36" alt="Jonh Doe"> <span class="avatar-name">Jonh Doe</span>
                            <span class="caret ml5"></span>
                        </a>
                        <ul class="dropdown-menu right" role="menu">
                            <li><a href="profile.html"><i class="im-user"></i> Profile</a>
                            </li>
                            <li><a href="index.html#"><i class="im-cog2"></i> Settings</a>
                            </li>
                            <li><a href="index.html#"><i class="im-question3"></i> Help</a>
                            </li>
                            <li><a href="lockscreen.html"><i class="im-switch"></i> Logout</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- End #header -->
