.titleLineColor{
  border-top:3px solid #005387;
}


.tColor{
  color:#005387;
}

.whitebg{
  background:#fff;
}




.alink:hover{
  color:#fdd922;
  text-decoration: none;
  cursor: pointer;
}

.paddding_20{
  padding:20px;
}

.mgb_20{
   margin-bottom:20px;
}

.mgt_20{
  margin-top:20px;
}


.boxShow{
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
}

.height_full{
  height:100%;
}
