.titleLineColor{
  border-top:3px solid #005387;
}


.tColor{
  color:#005387;
}

.whitebg{
  background:#fff;
}

a{
  text-decoration: none !important;
}




.alink:hover{
  color:#fdd922;
  text-decoration: none;
  cursor: pointer;
}

.paddding_20{
  padding:20px;
}

.paddinglr_15{
  padding:0px 15px;
}

.padding_10_20{
  padding:10px 20px;
}

.mgb_20{
   margin-bottom:20px;
}

.mgt_20{
  margin-top:20px;
}

.myTitle{
     line-height: 26px;
     font-size: 16px;
     font-weight: bold;
     color:#337ab7;
    margin-top:10px;
}


.margin_0{
  margin:0px;
}
.padding_0{
  padding:0px;
}

.titleDiv{
  margin-bottom:10px;
  margin-top:0px;
}

.padding_right_15{
  padding-right:15px;
}

.relative{
  position:absolute;
}
.absolute{
  position:relative;
}

.boxShow{
  -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
}

.height_full{
  height:100%;
}


.list1{
   position:relative;
  cursor: pointer;
   .title{
      font-size:20px;
     font-weight:bold;
     color:#337ab7;
   }
  .content{
    font-size:14px;
  }
   img{
     width:100%;
     height:200px;
   }
  .bottom_right{
    bottom:0px;
    height:30px;
    position:absolute;
    right:10px;
    color:#337ab7;
  }
  .bottom_left{
    bottom:0px;
    height:30px;
    position:absolute;
    left:10px;
    color:#337ab7;
  }
  .list1_right{
    height:200px;
  }
}


.list2{
  img{
    width:100%;
    height:100%;
    transition: all 1.0s;
    -webkit-transition: all 1.0s;
  }



  .col-md-4{
    padding:0px;
    margin:0px;
    cursor: pointer;
    a{
      display:block;
      color: #666666;
    }
    a:hover{
      text-decoration: none;
    }
  }
  .listContent:hover{
    background:#f7f8fd;
    img{
      -moz-transform:  scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
    }
  }
  .borderLine{
    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  }
  .titleImg{
    width:100%;
    height:145px;
    overflow:hidden;
  }
  .title{
     font-size:16px;
     /*
     color:#337ab7;
     */
     margin:10px 0px 0px 0px;
  }
  .breif{
    margin:0px;
  }
  .bottom{
    /*
    color:#337ab7;
    */
    margin-top:10px;
    height:15px;
    b{
      float:left;
    }
    span{
      float:right;
    }
  }
}


.advertiseImg{
  img{
    width:100%;
  }
}

.bgColor1{
  background:#F29500;
}

.bgColor2{
  background:#6FA014;
}

.bgColor3{
   background:#3E3F3A;
 }


.bgColor4{
  background:#C23916;
}

.bgColor5{
  background:#3C7780;
}


.bgColor6{
  background:#94C849;
}

.bgColor7{
  background:#BE213E;
}

.bgColor8{
  background:#BE213E;
}

.bgColor9{
  background:#BE213E;
}

.bgColor10{
  background:#BE213E;
}





