<div class="content-wrapper addArticle">
     <div ng-include="'views/common/nav.html'"></div>
     <div class="content-inner">

       <div class="t-center btnMargin">
         <a class="btn btn-teal" href="#" >修&nbsp;改&nbsp;类&nbsp;型</a>
         <a class="btn btn-teal" href="#" ng-click="resDeleteFn()" >删&nbsp;除&nbsp;类&nbsp;型</a>
       </div>
       <div class="box border mytable">
         <div class="box-title">
           <h4>{{currItem.cname}}<span class="litterDesc">({{currItem.name}})</span>列表</h4>
         </div>
         <div class="box-body">


           <table class="table wordBreak mgb-0">
             <thead>
             <tr>
               <th>id</th>
               <th ng-repeat="(key,val) in typeItems" ng-if="typeItems[key].isShow==1">{{typeItems[key].dataChinaName}}</th>
               <th>创建时间</th>
               <th>修改时间</th>
               <th>是否上线</th>
               <th>操作</th>
             </tr>
             </thead>
             <tbody class="resourceTypeContent">
             <tr ng-repeat="currdata in currTypeContents">
               <td>{{currdata.id}}</td>
               <td ng-repeat="(key,val) in currdata.content"  ng-if="typeItems[key].isShow==1">
                 <div ng-if="typeItems[key].dataType=='text'">{{val}}</div>
                 <div ng-if="typeItems[key].dataType=='boolean'">{{val==1?'是':'否'}}</div>
                 <div ng-if="typeItems[key].dataType=='time'">{{val}}</div>
                 <div ng-if="typeItems[key].dataType=='date'"><date value="{{val}}"></date></div>
                 <div ng-if="typeItems[key].dataType=='file'"><img class="prevImg" ng-src="{{val}}"></div>
                 <div ng-if="typeItems[key].dataType=='number'">{{val}}</div>
                 <div ng-if="typeItems[key].dataType=='textarea'">{{val}}</div>
                 <div ng-if="typeItems[key].dataType=='enum'">{{val}}</div>
                 <div ng-if="typeItems[key].dataType=='select'">{{val}}</div>
               </td>
               <td><date value="{{currdata.createTime}}"></date></td>
               <td><date value="{{currdata.modifiedTime}}"></date></td>
               <td>{{currdata.isOnLine==0?"否":"是"}}</td>
               <td>
                 <a class="btn btn-success hover-link colorbox-button mgr-10 cboxElement operaBtn" ng-click="descFn()" title="详情"><i class="fa fa-arrow-circle-o-right fa-1x"></i></a>
                 <a class="btn btn-success hover-link mgr-10 operaBtn" ng-click="editResContentFn($index)" title="修改"><i class="fa fa-edit fa-1x"></i></a>
                 <a class="btn btn-success hover-link colorbox-button cboxElement operaBtn" ng-click="delResContent($index)" title="删除"><i class="fa fa-minus fa-1x"></i></a>


               </td>
             </tr>
             </tbody>
           </table>

           <div class="pageSelect">
             <pagination conf="paginationConf"></pagination>
           </div>

           <div class="t-center btnMargin">
             <a class="btn btn-teal" href="resAddContent?type={{type}}&id={{id}}" >添&nbsp;加&nbsp;数&nbsp;据</a>
           </div>

         </div>
       </div>




     </div>
</div>

